[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false
ffi = false

remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "forge-std/=lib/forge-std/src/",
]

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = false

[profile.ci]
fuzz = { runs = 10000 }

[profile.default.fuzz]
runs = 256
max_test_rejects = 65536
